*.pydevproject
.project
.metadata
bin/**
tmp/**
tmp/**/*
*.tmp
*.bak
*.swp
*~.nib
local.properties
.classpath
.settings/
.loadpath

# External tool builders
.externalToolBuilders/

# Locally stored "Eclipse launch configurations"
*.launch

# CDT-specific
.cproject

# PDT-specific
.buildpath

# CakePHP
app/Config/database.php
app/Config/email.php
app/tmp/cache/models/*
app/tmp/cache/persistent/*
app/tmp/cache/views/*
app/tmp/logs/*
app/tmp/sessions/*
app/tmp/tests/*

# Misc
*.ignore
plesk-stat

